global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Load alert rules from files
rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: tempo
    metrics_path: /metrics
    static_configs:
      - targets:
          - tempo:3200

  - job_name: alloy
    metrics_path: /
    static_configs:
      - targets:
          - alloy:12346
